// colors
$color-primary: #e76f51;
$color-secondary: #3b3735;
$color-gray: #8d8d8d;
$color-white: #ffffff;

$color-bg-1: #faf4f2;
$color-bg-2: #f8e1db;

// size
$container: 80%;
$border-radius: 20px;

// fonts
$archivo: 'Archivo', sans-serif;
$roboto: 'Roboto', sans-serif;

// gaps
$horizontal-gap: 30px;
$vertical-gap: 30px;