.footer {
  background-color: $color-bg-2;
  border-radius: 200px 200px 0 0;
  padding-top: 100px;
  padding-bottom: 60px;
  @include responsive(desktop) {
    border-radius: 150px 150px 0 0;
  }
  @include responsive(tab) {
    border-radius: 100px 100px 0 0;
  }
  .container {
    position: relative;
    @include responsive(tab) {
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
  }
  &__text-box {
    margin-right: 120px;
    @include responsive(tab) {
      margin-right: 0px;
      width: 100%;
    }
  }
  &__text {
    line-height: 28px;
  }
  h2 {
    margin-bottom: 20px;
  }
  &__list {
    li {
      margin-bottom: 10px;
    }
  }
  .download {
    width: 100%;
    img {
      margin-right: 15px;
    }
  }
  .copy {
    margin-top: 60px;
    text-align: center;
    width: 100%;
  }
}