.sign-up, .sign-in {
  display: inline-block;
  padding: 12px 35px;
  color: $color-white;
  font-weight: 500;
  @include responsive(xl-desktop) {
    padding: 12px 25px;
  }
  @include responsive(lg-desktop) {
    padding: 10px 20px
  }
} 
.sign-in {
  @include transition;
  border-radius: 30px;
  border: 1px solid $color-white;
  &:hover {
    background-color: $color-white;
    color: $color-secondary;
  }
}

.menu-btn {
  width: 50px;
  height: 50px;
  border-radius: $border-radius;
  background-color: $color-white;
  @include center;
  margin-left: auto;
  display: none;
  @include responsive(desktop) {
    display: inline-block;
  }
}

.btn {
  display: inline-block;
  padding: 12px 50px;
  border-radius: 30px;
  @include transition;
  &--primary {
    color: $color-white;
    background-color: $color-primary;
    &:hover {
      background-color: darken($color-primary, 5%);
    }
  }
  &--outline {
    color: $color-primary;
    border: 1px solid $color-primary;
    padding: 13px 70px;
    font-weight: 500;
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      border: 1px solid transparent; 
    }
  }
}

.like-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 14px;
  background-color: $color-white;
}

.card-btn {
  width: 70%;
  border-radius: 25px;
  color: $color-gray;
  background-color: lighten($color-gray, 40%);
  padding: 13px 0;
  font-weight: 500;
  @include transition;
  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.scroll-up {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: $border-radius;
  background-color: $color-white;
  @include center;
  right: 0;
  top: -130px;
  @include responsive(lg-desktop) {
    right: 10%;
  }
  @include responsive(tab) {
    right: 50%;
    transform: translateX(50%);
  }
}