.feature {
  transform: translateY(-35%);
  @include responsive(lg-desktop) {
    transform: translateY(-25%);
  }
  @include responsive(tab) {
    transform: translateY(-15%);
  }
  &__list {
    @include responsive(lg-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include responsive(tab) {
      grid-template-columns: 1fr;
    }
  }
}

.explore {
  margin-top: 50px;
  @include responsive(tab) {
    margin-top: 0;
  }
  text-align: center;
  &__list {
    @include responsive(xl-desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include responsive(lg-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include responsive(tab) {
      grid-template-columns: 1fr;
    }
  }
  &__img {
    margin-bottom: 30px;
  }
  &__title {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 60px;
    @include responsive(lg-desktop) {
      width: 65%;
    }
    @include responsive(mobile) {
      width: 100%;
    }
  }
  .btn {
    margin-top: 60px;
  }
}

.touch {
  margin-top: 150px;
  @include responsive(mobile) {
    margin-top: 100px;
  }
  &__box {
    background-color: $color-bg-2;
    border-radius: $border-radius;
    padding: 80px 100px;
    @include responsive(lg-desktop) {
      padding: 40px 80px;
    }
    @include responsive(mobile) {
      padding: 40px 20px;
    }
    @include center(space-between);
    box-shadow: 5px 10px 30px rgba($color-secondary, .05);
    background: {
      image: url("../images/shape.png");
      repeat: no-repeat;
      position: -200px -380px;
    };
    @include responsive(desktop) {
      padding: 40px;
      flex-direction: column;
      background-position: -300px -50px;
    }
  }
  .form {
    width: 40%;
    @include responsive(desktop) {
      text-align: center;
      width: 90%;
      order: 2;
    }
    @include responsive(mobile) {
      width: 100%;
    }
  }
  &__img {
    width: 40%;
    @include responsive(desktop) {
      width: 90%;
      order: 1;
      margin-bottom: 40px;
    }
    @include responsive(mobile) {
      width: 100%;
    }
  }
}

.footer {
  margin-top: 180px;
  @include responsive(mobile) {
    margin-top: 70px;
  }
}